/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */
iframe{
  top:-5px;
}
* {
  box-sizing: border-box;
}
body {
  color: #576366;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('/wallpaper.jpg') center center;

}

.teacher{
  padding-bottom: 60px;
}



.special-button {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}


h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: #404040;
  font-size: 1.6em;
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3b80d1;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.main-container {
  width: 95%;
  padding-bottom: 0px;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: #edeff0;
  margin-bottom: 0px;
  
}
.main-content {
  padding: 1em 2em;
  padding-bottom: 0px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}

/* IMAGES -------- */

.course-img {
  width: 70px;
}
.teacher-img {
  width: 100%;
  border-radius: .3em;
}
.not-found {
  text-align: center;
}

/* MAIN NAV -------- */

.main-nav a {
  font-size: .95em;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}
.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #3b80d1;
}

/* COURSE NAV -------- */

.course-nav li {
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: #253238;
}

/* ICONS -------- */
.diagree{
  background: red;
}
.icn-logo {
  background: #253238;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;
  margin-top: 100px;
}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}
.home a,
input,
button {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.btn-validation{
  background: green;
  color:white;
}

.btn-gift{
  background: red;
  color:white;
}

.btn-logout{
  background: rgb(185, 185, 55);
  color:white;
}


.label-validation{
  color: green;
}

.label-gift{
  color: red;
}





/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
  .home a {
    border-color: transparent;
  }
   .icn-logo {
     display: block;
    background: #253238;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
   }
   .main-nav a {
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
   }
   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav {
     display: block;
     margin: 1.5em 0 3.2em;
   }

}


@media (min-width: 769px) {
  .main-container{
    max-width: 720px;
  }
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .teacher {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  .teacher {
    width: 48.73%;
    margin-bottom: 1.5em;
  }
  .teacher + .teacher {
    margin-left: 2.54%;
  }
  .teacher:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }
  /* MAIN NAV -------- */
  .icn-logo {
    display: block;
    background: #253238;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    /* padding: 1.25em 1.5em; */
    padding: 35px;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  } 
  .courses h2 {
    float: left;
  }
}


.btn-print-qr-code{
  background: green;
  color: white;
}



@page { 
  /*  	 size: 45mm 45mm landscape;  
  */  	
      size: 50mm 45mm landscape;  
    margin: 0mm; 
      margin-top: 0px;
      margin-bottom: -20px;
      font-family: 'Open Sans', sans-serif;
  
    }

    .qr-print-container h1{
      font-size: 10px;
      line-height: 2px;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      height: 0px;
      margin-top: 13px;
    
    }
    .qr-print-container{
      margin: 20px;
      height: 40mm;
      font-family: 'Open Sans', sans-serif;
    
    }
    
    .qr-print-container p{
      margin-top: 10px;
      height: 0px;
    }










    
    .paused {
      -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
      animation-play-state: paused;
    }
    
    @-webkit-keyframes Gradient {
      0% {
      background-position: 0% 50%
      }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }
    
    @keyframes Gradient {
      0% {
      background-position: 0% 50%
      }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }






    .payment-no-button {
      display: inline-block;
      width: 42%;
      margin-bottom: 1em;
      background:red;
      border-radius: 20px;
      float: right;
    }
    
    .payment-yes-button {
      display: inline-block;
      width: 42%;
      margin-bottom: 1em;
      background:rgb(55, 202, 18);
      border-radius: 20px;
      float: left;

    }


    .payment-confirm-button {
      display: inline-block;
      width: 100%;
      margin-bottom: 1em;
      background:white;
      border-radius: 20px;
      color:black;

    }

    

.payment-image{
  width:100%;
}

    .payment-text{
      text-align: center;
    }

    .payment-input{
      border-radius: 20px;
    }